#Notification{
            margin:12vh 0 0 25%;
            font-size: 32px;
            border: 0px solid black;
            width: 50%;
        }
        #SubmitForm{
          width: 50%;
          margin: 5vh 0 0 25%;
          font-size: 20px;
          border: 0px solid black;
        }
        #FirstColumn{
          width: 18%;
        }#Notification{
            margin:12vh 0 0 25%;
            font-size: 32px;
            border: 0px solid black;
            width: 50%;
        }
        #SubmitForm{
          width: 50%;
          margin: 5vh 0 0 25%;
          font-size: 20px;
          border: 0px solid black;
        }
        #FirstColumn{
          width: 18%;
        }